table {
    border: 1px #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
}

.class13 {
    color: #003366;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.class4 {
    color: #1398be;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}

.class8 {
    color: #de9800;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.class3 {
    color: #CCCCCC;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}

.class7 {
    color: #C91B04;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}

